name: terraform-apply-common

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infra/envs/common/**'
      - '.github/workflows/infra-common.yml'

permissions:
  id-token: write # for OIDC
  contents: read #

jobs:
  common:
    name: Apply (common)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/envs/common
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config=backend.hcl -input=false\

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -input=false -auto-approve tfplan